.burger-menu__item {
  font: normal 400 32px/32px Calibri, Arial, serif;
  color: #fff;
  text-decoration: none;
}

.burger-menu__item:hover {
  text-decoration: underline;
  transition: text-decoration 0.15s ease-in;
}

@media screen and (max-width: 500px) {
  .burger-menu__item {
    font-size: 20px;
  }
}
