.footer {
  max-width: 1200px;
  height: 150px;
  width: 100%;
  box-sizing: border-box;
  background-color: #4b2942;
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    'logo phone email'
    'credits credits credits';
}
