.footer {
  max-width: 1200px;
  max-height: 240px;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--col-purple);
  display: grid;
  grid-template-rows: 4fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    'logo phone email'
    'credits credits credits';
}

@media screen and (max-width: 845px) {
  .footer {
    grid-template-rows: 6fr 3fr 3fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      'logo'
      'phone'
      'email'
      'credits';
  }
}
