@import './vendor/normolize.css';

@import './header/header.css';
@import './header/__title/header__title.css';
@import './header/__button/header__button.css';
@import './header/__button/header__button_close.css';

@import './burger-menu/burger-menu.css';
@import './burger-menu/__list/burger-menu__list.css';
@import './burger-menu/__item/burger-menu__item.css';
@import './burger-menu/__li/burger-menu__li.css';

@import './main/main.css';
@import './main/__intro/main__intro.css';
@import './main/__title/main__title.css';
@import './main/__text/main__text.css';
@import './main/__text/main__text_error.css';
@import './main/__text/main__text_error_active.css';
@import './main/__text/main__text_label.css';
@import './main/__link/main__link.css';
@import './main/__info/main__info.css';
@import './main/__results/main__results.css';
@import './main/__score/main__score.css';
@import './main/__overlay/main__overlay.css';
@import './main/__preloader/main__preloader.css';
@import './main/__preloader/main__preloader_container.css';
@import './main/__preloader/main__preloader_round.css';
@import './main/__preloader/main__preloader_title.css';

@import './info/info.css';
@import './info/__title/info__title.css';
@import './info/__text/info__text.css';
@import './info/__text/info__text_color.css';
@import './info/__button/info__button.css';
@import './info/__button/info__button_back.css';
@import './info/__button/info__button_wrapper.css';

@import './game/game.css';

@import './footer/footer.css';
@import './footer/__cell/footer__cell.css';
@import './footer/__logo/footer__logo.css';
@import './footer/__logo/footer__logo_chetra.css';
@import './footer/__logo/footer__logo_fpk.css';
@import './footer/__phone/footer__phone.css';
@import './footer/__email/footer__email.css';
@import './footer/__devider/footer__devider.css';
@import './footer/__credits/footer__credits.css';
@import './footer/__icon/footer__icon_phone.css';
@import './footer/__text/footer__text.css';
@import './footer/__text/footer__text_color.css';
@import './footer/__text/footer__text_small.css';
@import './footer/__link/footer__link.css';
@import './footer/__sfx/footer__sfx_hover.css';

@import './form/form.css';
@import './form/__container/form__container.css';
@import './form/__input/form__input.css';
@import './form/__actions/form__actions.css';
@import './form/__button/form__button_submit.css';
@import './form/__button/form__button_restart.css';

@import './idle/idle.css';
