.main__link {
  font: normal 400 32px/32px Calibri, Arial, serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 10px;
  width: auto;
  height: 50px;
  z-index: 0;
  box-sizing: border-box;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  grid-area: link;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
  text-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
}

.main__link:hover {
  opacity: 0.7;
  transition: opacity 0.15s ease-in;
  cursor: pointer;
}

@media screen and (max-width: 630px) {
  .main__link {
    font-size: 24px;
  }
}

@media screen and (max-width: 430px) {
  .main__link {
    font-size: 18px;
  }
}
