body {
  max-width: 100%;
  max-height: 90%;
  width: 100vw;
  margin: 0 auto;
  background-color: #a1a1a1;
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 20px;
  width: 100%;
  max-width: 990px;
}

.footer__text {
  font: normal 400 20px/24px Calibri, serif;
  margin: 0 10px;
}
