@import './blocks/styles.css';

html {
  height: 100%;
}

body {
  max-width: 1200px;
  width: 100vw;
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.idle {
  display: none !important;
}

.info {
  width: 100%;
  height: 100px;
  background-color: #fff;
  margin: 100px 0;
  z-index: 1;
}

.container {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
}

.footer {
  max-width: 1200px;
  height: 150px;
  width: 100%;
  box-sizing: border-box;
  background-color: #4b2942;
}

.footer__row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.footer__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer__credits {
  display: flex;
  width: 100%;
  justify-content: center;
}

.footer__cell {
  display: flex;
  align-items: center;
}

.footer__devider {
  border-right: 2px solid #f0af1d;
  height: 100px;
  margin: 10px;
}

.footer__logo:hover {
  opacity: 0.7;
  transition: opacity 0.15s ease-in;
}

.footer__logo_fpk {
  height: 40px;
  background-color: white;
}

.footer__logo_chetra {
  margin-left: 10px;
}

.footer__icon_phone {
  background-image: url(./assets/icon-phone.png);
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__text {
  font: normal 400 24px/24px Calibri, serif;
  color: white;
  margin: 0 10px;
}

.footer__text_phone {
  text-decoration: none;
}

.footer__text_credits {
  font-size: 16px;
  color: #f0af1d;
}

.footer__text_email {
  color: #f0af1d;
}

.footer__link {
  text-decoration: none;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__link_credits {
  font-size: 16px;
}

@media screen and (max-width: 888px) {
  .footer__row {
    flex-direction: column;
    align-items: center;
  }

  .footer__cell {
    margin-top: 10px;
  }

  .footer__credits {
    margin-top: 10px;
  }

  .footer {
    height: 270px;
  }
}

@media screen and (max-width: 650px) {
  .footer {
    max-height: 770px;
  }
}

@media screen and (max-width: 500px) {
  .footer__credits {
    flex-direction: column;
    align-items: center;
  }

  .footer__logo_fpk {
    height: 25px;
  }

  .footer__logo_chetra {
    height: 25px;
    margin: 0px;
  }
}

@media screen and (max-width: 468px) {
  .footer__text_credits {
    text-align: center;
  }

  .footer__link_credits {
    text-align: center;
  }
}

@media screen and (max-width: 360px) {
  .footer__text_email {
    font-size: 24px;
  }

  .footer__link_email {
    font-size: 24px;
  }

  .footer__text_phone {
    font-size: 24px;
  }

  .footer__link_credits {
    font-size: 14px;
  }
}
