body {
  max-width: 1280px;
  max-height: 1125px;
  width: 100vw;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page__title {
  display: none;
}

.container {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
}

.footer {
  outline: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1330px;
  height: 150px;
  width: 100%;
  margin-top: 10px;
  padding: 0 10px;
  box-sizing: border-box;
  background-color: #3D0E32;
}

.footer__column {
  display: flex;
}


.footer__cell {
  display: flex;
  align-items: center;
}

.footer__cell:nth-of-type(1) {
  border-right: 2px solid #f4b313;
  padding-right: 10px;
  margin-right: 10px;
}

.footer__logo:hover {
  opacity: 0.7;
  transition: opacity 0.15s ease-in;
}

.footer__logo_fpk {
  height: 60px;
  background-color: white;
}

.footer__text {
  font: normal 400 20px/24px Roboto, serif;
  color: white;
  margin: 0 10px;
}
