.header {
  width: 100%;
  height: 70px;
  background-color: var(--col-purple);
  padding: 0 30px;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr 50px;
  grid-template-areas:
    '... ...'
    '... burger'
    '... ...';
}

@media screen and (max-width: 500px) {
  .header {
    padding: 0;
  }
}
