@keyframes rotator2 {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(180deg);
  }
}
.header__button_close {
  background-image: url('../../../assets/icon-close.svg');
  animation: rotator2 0.5s linear;
}

@media screen and (max-width: 500px) {
  .header__button_close {
    width: 35px;
    height: 35px;
  }
}
