.form__input {
  border: 3px solid #fff;
  border-radius: 10px;
  color: #db9905;
  max-width: 250px;
}

.form__input::placeholder {
  color: #db9905;
}

@media screen and (max-width: 630px) {
  .form__input {
    /* margin-top: 20px; */
    height: 20px;
    font-size: 20px;
  }
}
